.container {
  width: 100%;
  margin: auto;
}
.survey {
  width: 50%;
  margin: auto;
}

.form-checkbox {
  display:inline-block;
  padding-right: 4px;
}

.form-radio {
  padding-right: 4px;
}

label {
  display:flex;
  padding:8px;
}

h1 {
  text-align: center;
  margin: 0 8px;
}

#description {
  text-align: center;
}